[submodule "MEC_Kicad_Subschematics"]
	path = MEC_Kicad_Subschematics
	url = https://rndtfs.intranet.dow.com/dow/IR/_git/MEC_Kicad_Subschematics
[submodule "subs"]
	path = subs
	url = https://rndtfs.intranet.dow.com/dow/IR/_git/MEC_Kicad_Subschematics
[submodule "subs2"]
	path = subs2
	url = https://rndtfs.intranet.dow.com/dow/IR/MEC/_git/MEC_Kicad_Subschematics
